* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

.navigation--wrapper {
    position: relative;
    height: 100vh;
}

.overlay {
    background-color: #00000087;
    opacity: 0.7;
    height: 100vh;
    width: 100%;
    position: absolute;


}

.header {

    max-width: 100%;
    height: 100vh;
    background-image: url("https://demo.tutsflow.com/sabil/images/bg/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    bottom: 90px;


}


.header__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.header__nav {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* position: relative; */
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.header__nav {
    animation: fadein linear forwards;
    animation-timeline: scroll();
    /* Links the animation to the scroll progress */
}

@keyframes fadein {
    from {
        background-color: transparent;
    }

    to {
        background-color: coral;
    }
}

.header__nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 10px;
    padding: 10px;
}

.header__nav-links li {
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 8px;
    transition: all 0.25s ease;
    letter-spacing: 0.5px;
    list-style: none;
}

.header__nav-links li:hover {
    color: coral;
    transition: transform 0.25s ease, background-color 0.25s ease;
    cursor: pointer;

}

.header__nav-links__button {
    width: 150px;
    height: 30px;
    background-color: coral;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: coral 1px solid;
    transition: transform 0.25s ease, background-color 0.25s ease;

}

.header__nav-links__button:hover {
    border: 1px dashed coral;
    transition: 0.25 all ease;
    background-color: transparent;


}

.header__nav-links__button span {
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px;
}

main {
    /* width: 500px; */
    /* height: 100px; */
    /* margin: 200px 200px 20px 200px; */
    /* padding: 10px; */
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 300px 300px
}

.main_paragraph {
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.main__heading {
    font-size: 32px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* margin: 20px 200px 20px 200px; */
    gap: 10px;
    position: relative;
}

.header__button span {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header__button--primary {
    width: 200px;
    height: 50px;
    background-color: coral;
    border-radius: 50px;
    display: flex;

    justify-content: center;
    align-items: center;
    border: coral 1px solid;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.header__button--primary:hover {
    border: 1px dashed coral;
    transition: transform 0.25s ease, background-color 0.25s ease;
    background-color: transparent;


}

.header__button--primary:hover {
    span {
        color: coral;
        transition: transform 0.25s ease, background-color 0.25s ease;
    }
}

.header__button--secondary {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
    display: flex;

    justify-content: center;
    align-items: center;
    border: transparent 1px solid;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.header__button--secondary:hover {
    border: 1px dashed coral;
    transition: 0.25 all ease;
    background-color: coral;

}

.header__button--image {
    width: 20px;
    height: 20px;
    color: white;
    margin: 10px;
}

.text {
    max-width: 100%;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 50px;
}

.cards-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.card {
    width: 350px;
    height: 250px;
    border: 3px solid coral;
    margin: 50px 20px 50px 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0.3, 0.3, 0.3, 0.3);
    position: relative;
}

.card__heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 20px 20px 5px 20px;
    letter-spacing: 0.5px;
}

.card__paragraph {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 5px 20px 20px 20px;
    letter-spacing: 0.5px;

}

.card__image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: coral;
    position: absolute;
    left: 25px;
    top: -25px;

}

.card__icon {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 15px;
    top: 5px;
}

.contact {
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 100px;
}

.form__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    border: 3px solid coral;
    background-color: coral;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    flex-direction: column;

}

.form__wrapper--primary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    label {
        display: block;
    }
}

.form__wrapper--secondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    label {
        display: block;

    }
}

input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
}

.input__wrapper {

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 30px;
}

.form__button>button {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 200px;
    height: 50px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent 1px solid;
    transition: transform 0.25s ease, background-color 0.25s ease;
    cursor: pointer;
}

.form__button {
    button:hover {
        border: 1px dashed coral;
        transition: 0.25 all ease;
        background-color: rgb(135, 124, 119);
    }


}

.header__nav--toggle {
    display: none;
    color: coral;

}

/* .header__nav__hidden--menubar svg {
   
} */

.header__nav__hidden--menubar {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 70px;
    background-color: rgb(225, 225, 225);
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.25s ease, background-color 0.25s ease;



    .header__nav__hidden--menubar--links {
        display: grid;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 12px;
        margin-right: 20px;

    }
}


.header__nav__hidden--menubar__button {
    width: 150px;
    height: 30px;
    background-color: coral;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: coral 1px solid;
    transition: transform 0.25s ease, background-color 0.25s ease;

}

.header__nav__hidden--menubar__button span {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header__nav__hidden--menubar__button:hover {
    border: 1px dashed coral;
    transition: 0.25 all ease;
    background-color: transparent;

}


@media (max-width: 600px) {
    .header__nav-links {
        display: none;
    }

    main {
        padding: 270px 20px 0 20px;
    }

    .header__nav {
        justify-content: space-between;
    }

    .header__nav--toggle {
        display: block;
        z-index: 1000;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .header__nav--toggle:hover {
        .header__nav__hidden--menubar {
            display: inline;
            transition: transform 1s ease, background-color 1s ease;
        }
    }

    .header__nav__hidden--menubar--links li:hover {
        color: rgb(156, 62, 28);
        transition: transform 1s ease, background-color 1s ease;

    }

}

@media (max-width:375px) {
    .main__heading {
        font-size: 18px;
    }
}